.image-preview-gallery {
  display: flex;
  border: 1px dot-dash #eee;
  margin-top: 5px;
}

.image-preview-gallery div {
  margin: 2px;
  padding: 8px;
}

.image-preview-gallery div:not(.image-preview-old) {

  border: 1px dashed #ddd;
}

.image-preview-gallery .image-preview-old {
  border: 1px solid #ccc;
}

.image-preview-gallery img {
  width: 80px;
  height: 80px;
}

/* Table thumb image */

.table-thumb {
  width: 80px;
  height: 80px;
}
