.image-preview-gallery {
  display: flex;
  flex-wrap: wrap;
  border: 1px dot-dash #eee;
  margin-top: 5px;
}

.image-preview-gallery div {
  margin: 2px;
  padding: 8px;
}

.image-preview-gallery div:not(.image-preview-old) {

  border: 1px dashed #ddd;
}

.image-preview-gallery .image-preview-old {
  border: 1px solid #ccc;
}

.image-preview-gallery img {
  width: 80px;
  height: 80px;
}

/* Table thumb image */

.table-thumb {
  width: 80px;
  height: 80px;
}

/* Product View */

.product-view-thumb{
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}
.product-view-thumb img{
  width: 100%;
}

/* custom fontsize */

/* Image Gallery */

.image-gallery-item{
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid #eee;
  position: relative;
}

.image-gallery-item img{
  width: 100%;
}

.image-gallery-item .remove-btn{
  position: absolute;
  top: 5px;
  right: 8px;
}

.image-gallery-item .remove-btn:hover{
  cursor: pointer;
  color: #f36389;
}
